In [2]:
import pandas as pd

In [3]:
db = pd.read_csv('SalaryData.csv')

In [4]:
db.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [5]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 608.0 bytes

In [6]:
x = db['YearsExperience']

In [9]:
x

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: YearsExperience, dtype: float64

In [10]:
y = db['Salary']

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
mind = LinearRegression()

In [17]:
x=x.values

In [20]:
type(x)

numpy.ndarray

In [25]:
x=x.reshape(30,1)

In [26]:
mind.fit(x,y)

LinearRegression()

In [28]:
mind.predict([[4]])

array([63592.04948449])

In [29]:
import joblib

In [30]:
joblib.dump(mind, 'salary.pk1')

['salary.pk1']